/*.nav-background {
    height: 120px;
    width: 100vw;
    background-color: #0F2C4E;
    position: fixed;
    top: 0;
    z-index: 3;
}

.nav-image {
    position: relative;
    z-index: 5;
}

.nav-bar {
    z-index: 10;
}*/

.page-content {
    display: flex;
    flex-direction: column;
}

.page-content>section {
    margin: 5vw 0;
}

.section-header {
    padding: 1vw 0 1vw 3vw;
    margin: 0 0 1vw 4vw;
    border-left: 0.5vw solid rgb(42, 165, 232);
    font-size: 3vw;
}

body {
    width: 100vw;
}

.text,
.dean_text {
    text-align: justify;
}

.college-name {
    font-size: 1.5vw;
    color: #fff;
    font-weight: 700;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}