body {
    font-family: "Roboto Condensed", sans-serif;
    /*background: linear-gradient(to left, rgb(3, 3, 203), rgb(66, 84, 249), rgb(3, 161, 247));*/
}

#formSection {
    background-color: #fff;
    /* White background for form */
    border-radius: 15px;
    padding: 20px;
    width: 600px;
    /* Adjust width as needed */
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Subtle shadow effect */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

h2 {
    color: #333;
}

label {
    margin-top: 10px;
    display: block;
}

select {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

main li:nth-child(1) {
    background-color: lightgreen;
}

main li:nth-child(2) {
    background-color: lightpink;
}

strong {
    margin-right: 10px;
    flex-basis: auto;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}