.row {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: 3em;
}

.card {
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    width: 0%;
    height: 100%;
    border-radius: 10%;
}

.card-hover {
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
    position: relative;
    width: 350px;
    cursor: pointer;
    overflow: hidden;
    margin-right: 3em;
}

.card-hover:hover {
    -moz-transform: translateY(-4px) scale(1.01);
    -ms-transform: translateY(-4px) scale(1.01);
    -o-transform: translateY(-4px) scale(1.01);
    transform: translateY(-4px) scale(1.01);
    -webkit-box-shadow: 0 14px 24px rgba(15, 15, 16, 0.659);
    box-shadow: 0 14px 24px rgba(15, 15, 16, 0.311)
}

a {
    text-decoration: none;
    color: black;
}

img {
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 26px;
    color: #0F2B4E;
    font-weight: bold;
}

.img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: top 0.3s ease;
}

.card-hover:hover .overlay {
    top: 0%;
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-hover:hover .card-title {
    opacity: 1;
}
.row-container{
    margin-left: 2vw;
}

