body {
    background: #f0f1f6;
    margin: 0;
    padding: 0;
}

.dep {
    padding-top: 200px;
}

h1 {
    color: #102749;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 100px;
    padding-left: 25px;
    font-size: 50px;
}

.dep h1::before {
    content: "";
    position: relative;
    display: inline-block;
    height: 55px;
    width: 6px;
    right: 20px;
    top: 10px;
    background-color: rgb(42, 165, 232);
}

.r {
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 35px;
    box-shadow: 10px 10px 5px rgb(177, 185, 187);
    width: 400px;
    height: 265px;
}

.a {
    width: 400px;
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 35px;
    box-shadow: 10px 10px 5px rgb(177, 185, 187);
    height: 265px;
}

.contner {
    position: relative;
}

.overlay {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50px;
    right: 0;
    background-color: rgba(6, 44, 87, 0.5);
    overflow: hidden;
    transition: 0.5s ease;
    border-radius: 35px;
    display: block;
    width: 400px;
    height: 269px;
    /* ارتفاع الفقرة */
}

.tex {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contain {
    margin-left: 450px;
    margin-top: -509px;
    position: relative;
}

.containe {
    margin-left: 900px;
    margin-top: -509px;
    position: relative;
}

.block {
    margin-left: 40px;
    margin-top: -300px;
}


/* .linee{width: 6px;height: 50px;background: rgb(42,165,232);position: absolute;margin-left: 10px;margin-top: -80px;} */