body {
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    background-color: #f0f0f0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

.cutom-box {
    background-color: hsl(0, 0%, 100%);
    margin: 4% auto 5% auto;
    max-width: 45%;
    box-shadow: 0 10px 10px rgba(5, 5, 5, 0.1);
    padding: 30px;
    border-radius: 15px;
    animation: fadeInRight 2s ease;
}

@keyframes fadeInRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.cutom-box::before,
.cutom-box::after {
    content: '';
    clear: both;
    display: table;
}

.cutom-box.hide {
    display: none;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: -5px 5px 10px gray;
    margin-right: 20px;
    padding: 5px;
    margin-top: -65px;
}

h1 {
    padding-left: 135px;
    padding-top: 15px;
    font-family: "Libre Baskerville", serif;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
}

.home-box h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 25px;
}

.home-box p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    font-weight: 400;
}

.home-box p span {
    font-weight: 500;
}

.home-box .btn {
    margin-top: 20px;
}

.btn {
    background-color: rgb(42, 165, 232);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    width: 100%;
}

.btn:hover {
    box-shadow: 0 0 10px #0F2B4E;
    background-color: #0F2B4E;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator {
    width: 100%;
    float: left;
}

.quiz-box .question-number {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 10px;
    line-height: 25px;
}

.quiz-box .question-text {
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    padding: 20px 0;
    margin: 0;
}

.quiz-box .question-text img {
    max-width: 100;
    display: block;
    margin-top: 15px;
}

.quiz-box .option-container .option {
    background-color: #cccccc;
    padding: 13px 15px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

.quiz-box .option-container .option.already-answered {
    pointer-events: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.quiz-box .option-container .option.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slidenInleft .5s ease forwards
}

@keyframes slidenInleft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.quiz-box .option-container .option.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slidenInleft .5s ease forwards
}

.quiz-box .option-container .option.wrong {
    color: #ffffff;
}

.quiz-box .option-container .option.correct {
    color: #ffffff;
}

.quiz-box .btn {
    margin: 15px 0;
}

.quiz-box .answers-indicator {
    border-top: 1px solid #cccccc;
}

.quiz-box .answers-indicator div {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #cccccc;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}

.quiz-box .answers-indicator div.correct {
    background-color: green;
    background-image: url("../img/correct\ mark\ \(1\).png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.quiz-box .answers-indicator div.wrong {
    background-color: red;
    background-image: url("../img/wrong\ mark\ \(2\).png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.result-box {
    text-align: center;
}

.result-box.hide {
    display: none;
}

.result-box h1 {
    margin-right: 150px;
    line-height: 42px;
}

.result-box table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

.result-box table td {
    border: 1px solid #cccccc;
    padding: 8px 15px;
    font-weight: 500;
    width: 50%;
    text-align: left;
    font-size: 18px;
}

.result-box .btn {
    margin-right: 20px;
}

@media (max-width: 767px) {
    body {
        padding: 15px;
    }
}