* {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}

.abc {
    width: 100vw;
    height: 100vh;
    position: absolute;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 4%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    z-index: 100;
}

.header-scrolled {
    background-color: #0F2B4E;
    box-shadow: 0 3px 10px rgba(1, 17, 82, 0.15);
}

.header .photo {
    height: 6rem;
    padding-top: 15px;
}

.header a:hover {
    border-bottom: 3px solid white;
}

.header a.active {
    border-bottom: 3px solid white;
}

.header ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.header ul li a {
    /* columns: #fff; */
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#myVideo {
    position: relative;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    margin-top: -8px;
}

.title5 {
    float: left;
    padding: 15px;
    margin-left: 20px;
}

.d1 {
    float: left;
    padding: 15px;
    margin-top: -15px;
}

.d2 {
    font-size: 2rem;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.change_title {
    color: #29A4E2;
}

.cards {
    --spacer: 2rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    padding: 0 var(--spacer) var(--spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}

.card {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--spacer);
    padding: var(--spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
}

.card:hover {
    box-shadow: 0 9px 20px 0 #0F2B4E;
}

.iden1 {
    font-size: 2vw;
    color: #0F2B4E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}