.line {
    width: 6px;
    height: 150px;
    background-color: rgb(42, 165, 232);
    position: absolute;
    margin-left: 45px;
    margin-top: 9px;
}

.contant h2 {
    color: #0F2C4E;
    /*font-size: 3vw;
     margin-top: 85px; 
    margin-left: 60px;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.cardes div {
    width: 322px;
    height: 200px;
    display: grid;
    border-radius: 60px;
    background-color: #0F2C4E;
    color: white;
    margin-left: 100px;
    margin-top: 40px;
    float: left;
}

.contant p {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 170px;
    margin-top: -130px;
    text-align: center;
}

.contant img {
    width: 130px;
    height: 130px;
    margin-top: 40px;
    margin-left: 30px;
}